*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: url(../img/fundo.png);
    background-repeat: no-repeat;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}


.navbar h3{
    color: #ffffff;
}


.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img{
    position: absolute;
    bottom: 527px;
    left: 200px;
}

#picture__input {
    display: none;
  }
  
  .picture {
    width: 124px;
    height: 124px;
    background: url(./img/pessoa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .picture__img {
    max-width: 100%;
  }

  main{
    height: 70vh;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .info{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 13px;
  }

  .info label{
    color: #949494;
  }

  .info input{
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: #757474;
  }


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

  main button{
    background-color: #199570;
    border: none;
    border-radius: 8px;
    padding: 15px 90px;
  }

  .btn button a{
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
  }

  