.container{
    color: white;

}
.container p{
    margin-top: 1px;
   
}
span {
    display: flex;
    justify-content: end;
    color: white;
  

}

header{
    gap: 16px;
    margin: 1px;
    
}
footer a{
    color: white;
    font-size: 20px ;
    align-items: center;
    font-weight: 600;
}
.container-botao{
    margin: 0;
    margin-top: 5px;
}

button{
    border: none;
    margin: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}
.senha{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.login input{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

::placeholder{
    color: white;
}
.senha input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

::placeholder{
    color: white;
}
